



#contact{
    display: inline-block;
    padding: 1em;
    border: solid 1px;
    height: 300px;
    width: 600px;
    border-radius: 1em;
}
#submit{
    border-radius: 10px;
    box-shadow: 5px 5px 5px;
    width: 250px;
    margin-left: 100px;
}
ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
form li + li {
    margin-top: 1em;
}
label{
    display: inline-block;
    min-width: 90px;
    text-align: right;
}
input,
textarea{
    font: 1em sans-serif;
    width: 300px;
    box-sizing: border-box;
    border: 1px solid ;
}
textarea{
    vertical-align: top;
}